// Etusivu
$etusivu-background: #F7F7F7;
$etusivu-tile-background: #FFF;
$etusivu-header-background: #3586A6;

$color-links: $cyan1;

$ops-header-height: 173px;
$color-ops-header: $cyan2;
$color-ops-header-text: #fff;
$color-light-background: #E6F6FF;

$sidebar-width: 340px;

$main-view-offset: 100px;

$content-padding: 15px;

$popup-top-background: linear-gradient(#54a1bf, #3b8dad);