// Etusivu
$etusivu-background: #F7F7F7;
$etusivu-tile-background: #FFF;
$etusivu-header-background: #3586A6;

$color-links: $cyan1;

$ops-header-height: 173px;
$color-ops-header: $cyan2;
$color-ops-header-text: #fff;
$color-light-background: #E6F6FF;

$sidebar-width: 340px;

// $dark-blue: #28344F;
// $light-blue: #2E5FD1;

$main-view-offset: 100px;

$content-padding: 15px;

// $valid: #28a745;
// $invalid: #dc3545;
// #408DAB
$popup-top-background: linear-gradient(#54a1bf, #3b8dad);

:root {
  --p-checkbox-checked-background: #{$blue3} !important;
  --p-checkbox-checked-hover-background: #{$blue3} !important;
  --p-checkbox-checked-border-color: #{$blue3} !important;
  
  --toggle-color: #{$color-links};
  --p-tabs-tab-active-color: #{$blue3} !important;
  --p-tabs-tab-inactive-color: #{$grey700} !important;
  --p-tabs-tab-border-color: #{$grey200} !important;
  --p-tabs-tablist-border-color: #{$grey200} !important;
  --p-tabs-active-bar-background: #{$blue3} !important;

  --p-toggleswitch-checked-background: #{$blue3} !important;
  --p-toggleswitch-checked-hover-background: #{$blue3} !important;

  --p-popover-arrow-left: 10px !important;

  --p-button-primary-background: #{$blue3} !important;
  --p-button-primary-border-color: #{$blue3} !important;
  --p-button-primary-hover-color: #{$blue3} !important;
  --p-button-primary-hover-background: #{$blue2} !important;
  --p-button-primary-hover-color: #{$white} !important;
  
}